[Unit]
Description=Memori

[Service]
WorkingDirectory=/root/memori/server
ExecStart=npm run serve --bind=0.0.0.0 --port=4321 --data=/mnt/volume_fra1_01/
Restart=always

[Install]
WantedBy=multi-user.target